@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('iranyekanwebbold.eot');
	src: url('iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('iranyekanwebthin.eot');
	src: url('iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('iranyekanweblight.eot');
	src: url('iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('iranyekanwebregular.eot');
	src: url('iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('iranyekanwebmedium.eot');
	src: url('iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('iranyekanwebextrabold.eot');
	src: url('iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('iranyekanwebblack.eot');
	src: url('iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 950;
	src: url('iranyekanwebextrablack.eot');
	src: url('iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('iranyekanwebextrablack.ttf') format('truetype');
}